<html lang="zh-tw">
<head>
    <title>智慧小車控制面板</title>
    <meta name="K.J. Chen" content="ksite.cf">

    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css_core">
</head>
<body>
<center>
    <h1>智慧小車控制面板</h1>
    <h3>控制面板由陳冠儒開發設計</h3>
    <table>
        <tr>
            <td>
                <!--<a href="server_init" class="action-button shadow animate green">被控端初始化</a>-->
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <!--<a href="all_stop" class="action-button shadow animate red">全車強制停止</a>-->
            </td>
            <td>
                <!--<a href="light_on" class="action-button shadow animate yellow">開七彩探照燈</a>-->
            </td>
        </tr>
        <tr>
            <td>
                <a href="situ_left" class="action-button shadow animate blue">車子原地向左</a>
            </td>
            <td>
                <a href="situ_right" class="action-button shadow animate blue">車子原地向右</a>
            </td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td>
                <!--<a href="front_servo_left" class="action-button shadow animate green">前舵機向左</a>-->
            </td>
            <td>
                <a href="advance" class="action-button shadow animate blue">車子向前進</a>
            </td>
            <td>
                <!--<a href="front_servo_right" class="action-button shadow animate green">前舵機向右</a>-->
            </td>
        </tr>
        <tr>
            <td>
                <a href="left" class="action-button shadow animate blue">車子向左轉</a>
            </td>
            <td>
                <a href="stop_run" class="action-button shadow animate red">車子停下來</a>
            </td>
            <td>
                <a href="right" class="action-button shadow animate blue">車子向右轉</a>
            </td>
        </tr>
        <tr>
            <td>
                <!--<a href="behind_servo_left" class="action-button shadow animate green">後舵機向左</a>-->
            </td>
            <td>
                <a href="back" class="action-button shadow animate blue">車子向後退</a>
            </td>
            <td>
                <!--<a href="behind_servo_right" class="action-button shadow animate green">後舵機向右</a>-->
            </td>
        </tr>
    </table>
</center>
</body>
</html>
